body
{
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),url("Asset untuk html/background.jpg");
    background-size: cover;
    background-repeat: repeat;
}

@font-face {
    font-family: "PixleText";
    src: url("Asset untuk html/font/PublicPixel-z84yD.ttf") format(truetype);
 }

 .header img {
    max-width: 12%;
    max-height: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
 }
.chara img {
    max-width: 12%;
    max-height: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.greetings {
    font-family: "PixleText";   
    color: whitesmoke;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
.btn {
    font-family: "PixleText";
    font-size: 20px;
    padding: 14px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-white
{
  background-color: white;
  color: black;
}

.bodyTengah {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    margin-top: 200px;
}
.bar {
    margin-top: 50px;
}

#health {
    height: 20px;
    width: 200px;
  }
  
  #food {
    height: 20px;
    width: 200px;
  }
  
  #sleep {
    height: 20px;
    width: 200px;
  }
  
  #exp {
    height: 20px;
    width: 200px;
  }
  
  .bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .bar-container label {
    margin-bottom: 5px;
  }

  .bars
  {
    text-align: center;
    color: white;
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      );
    height: 120px;
    width: 500px;
  }

  @media screen and (max-width: 768px) {
    .bars {
      height: 180px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .bars {
      height: 240px;
    }
  }

  #btnMain a {
    color: black; /* change link color */
    text-decoration: none; /* remove underline */
  }


.logo img
{
    height: 100px;
    width: auto;
}

.player img
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: auto;
}

.object
{
    height: 100px;
    width: 100px;
}

.object img
{
    height: 100px;
    width: 100px;
}

.fixed-bottom
{
    width: 500px;
}



/* .container {
    position: fixed;
    bottom: 7%;
    left: 82%;
    transform: translateX(-50%);
    width: 500px;
}
  
.row {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 10px;
} */

.col
{
    width: 100px;
}

.myButton
{
    width: 100px;
}

.buttonUp
{
    position: fixed;
    right: 10%;
    bottom: 25%;
}

.buttonLeft
{
    position: fixed;
    right: 13%;
    bottom: 19%;
}

.buttonDown
{
    position: fixed;
    right: 10%;
    bottom: 13%;
}

.buttonRight
{
    position: fixed;
    right: 7%;
    bottom: 19%;
}

.uiBox
{
    width: 200px;
}