@font-face {
    font-family: "PixleText";
    src: url("Asset untuk html/font/PublicPixel-z84yD.ttf") format(truetype);
 }
 .header img {
    max-width: 15%;
    max-height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.chara img {
    max-width: 12%;
    max-height: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.greetings {
    font-family: "PixleText";   
    color: whitesmoke;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}
.btn {
    font-family: "PixleText";
    font-size: 20px;
    padding: 14px 30px;
    margin-bottom: 20px;
}
.btnkiri {
    float: left;
}
.btnkanan {
    float: right;
}
.bodyTengah {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    margin-top: 120px;
}
.bar {
    margin-top: 50px;
}

  