@font-face {
    font-family: "PixleText";
    src: url("Asset untuk html/font/PublicPixel-z84yD.ttf") format(truetype);
 }
 .header img {
    max-width: 15%;
    max-height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
.chara img {
    max-width: 12%;
    max-height: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.PetName {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: "PixleText";
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#petname {
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    font-family: "PixleText";
}

.btn a
{
    text-decoration: none;
    color: black;
}